.header {
  display: flex; /* Usamos flexbox para alinear todo horizontalmente */
  align-items: center; /* Centra verticalmente los elementos dentro de la cabecera */
  justify-content: flex-start; /* Alinea los elementos al principio */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
  padding: 10px; /* Puedes ajustar el padding según lo necesites */
  background-color: #2076BD ;
  position: fixed;
}

.header-content {
  display: flex; /* Asegura que todos los elementos hijos dentro de .header-content estén en una fila */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan a la siguiente línea */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.user-info {
  margin-right: 15px; /* Espacio entre los elementos de la información del usuario */
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 30px; /* Ajusta el tamaño de la imagen del avatar */
  height: 30px; /* Mantén la altura consistente */
  border-radius: 50%; /* Asegura que la imagen sea redonda */
  margin-right: 10px; /* Espacio a la derecha de la imagen */
}

.header .fa-chevron-down {
  font-size: 16px; /* Ajusta el tamaño del ícono */
  cursor: pointer; /* Cambia el cursor a puntero para indicar interactividad */
}
