<!-- panel principal -->
<div class="ui-g">

  <!-- logo app -->
  <div class="ui-g-12 p-0 text-center">
    <img src="assets/images/img-logo.png" class="logo"/>
   
  </div>

  <!-- item inicio -->
  <div (click)="goToBienvenida()" class="ui-g-12 item">
    <i class="fa fa-home item-icon"></i>
    <span>Inicio</span>
  </div>
  <div class="ui-g-12 barra"></div>

  <!-- items del menu -->
  <ng-container *ngIf="shellState.menu.modulos && shellState.menu.modulos.length">

    <!-- acordeon del menu -->
    <ul id="accordion" class="accordion">

      <!-- modulo principales -->
      <li *ngFor="let modulo of shellState.menu.modulos" class="item-bottom">
        <div [title]="modulo.title" class="menu" (click)="toggle(modulo)">
          <i class="fa {{ modulo.icon }} item-icon"></i> {{ modulo.label}}
          <i class="fa fa-chevron-down" [ngClass]="{ rotate: !modulo.expanded }"></i>
        </div>

        <!-- items del modulo principal -->
        <ul [ngClass]="{'d-none' : isStartUp}" class="submenu" #submenu [@open]="modulo.expanded ? 'open-item' : ''">
          <li *ngFor="let submenu of modulo.items">

            <!-- se valida si este item es un submodulo -->
            <ng-container *ngIf="submenu.items && submenu.items.length; else elseBlock">              
              <div class="sub-menu" (click)="toggle(submenu)"><i class="fa {{ submenu.icon }} sub-icon-wm"></i> {{ submenu.label }}
                <i class="fa fa-chevron-down" [ngClass]="{ rotate: !submenu.expanded }"></i>
              </div>
              <ul [@open]="submenu.expanded ? 'open-item' : ''" class="item-route">
                <li *ngFor="let item of submenu.items">

                    <!-- se valida si este item es un submodulo -->
                    <ng-container *ngIf="item.items && item.items.length; else elseBlock2">              
                      <div class="sub-menu-hijo" (click)="toggle(item)"><i class="fa {{ item.icon }} sub-icon-wm"></i> {{ item.label }}
                        <i class="fa fa-chevron-down" [ngClass]="{ rotate: !item.expanded }"></i>
                      </div>
                      <ul [@open]="item.expanded ? 'open-item' : ''" class="item-route">
                        <li *ngFor="let item2 of item.items">
                          <a [title]="item2.title" [routerLink]="item2.routerLink" routerLinkActive="active-link">
                            <span class="st-sub-item-hijo"><i class="fa {{ item2.icon }} sub-icon-wm2"></i> {{ item2.label }}</span>
                          </a>
                        </li>
                      </ul>
                    </ng-container>

                    <!-- si el item no es un submodulo -->
                    <ng-template #elseBlock2>                        
                      <a [title]="item.title" [routerLink]="item.routerLink" routerLinkActive="active-link">
                        <span class="st-sub-item"><i class="fa {{ item.icon }} sub-icon-wm2"></i> {{ item.label }}</span>
                      </a>
                    </ng-template>




                </li>
              </ul>
            </ng-container>

            <!-- si el item no es un submodulo -->
            <ng-template #elseBlock>
              <a [title]="submenu.title" [routerLink]="submenu.routerLink" routerLinkActive="active-link">
                <i class="fa {{ submenu.icon }} sub-icon"></i>
                <span class="st-item">{{ submenu.label }}</span>
              </a>
            </ng-template>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</div>
